@using DongThucVatQuangTri.Applications.Contacts.Dtos;
@using DongThucVatQuangTri.Applications.Enums;
@using DongThucVatQuangTri.Applications.Tours.Dtos;
@using System.Security.Claims;
@using static DongThucVatQuangTri.Applications.Common.HelperMethod;
@model UpdateContactRequest
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Phản hồi liên hệ";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
@section Scripts{
    <script src="/admin/assets/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editor');
    </script>
    
}
<div class="container-fluid px-4">
    <h1 class="mt-4">@ViewData["Title"]</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">@ViewData["Title"] </li>
    </ol>
    <div style="margin: 20px 0;">
        <a class="btn btn-success" asp-action="Index"><i class="fa-solid fa-list" style="color: #ffffff;"></i> Danh sách phản hồi</a>
    </div>
    <div class="row">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <input type="hidden" asp-for="Id" class="form-control" />
                    <div class="form-group">
                        <label asp-for="status" class="control-label">Trạng thái: </label>
                        <select asp-for="status" class="form-control" id="dropdown">
                            @foreach (var status1 in Enum.GetValues(typeof(statusContact)))
                            {
                                <option value="@status1.ToString()">@EnumExtensions.GetEnumMemberValue((statusContact)status1)</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Note" class="control-label">Ghi chú</label>
                        <textarea asp-for="Note" style="height:200px" class="form-control"></textarea>
                        <span asp-validation-for="Note" class="text-danger"></span>
                    </div>
                    
                </div>
            </div>
            <div class="row text-center">
                <div class="form-group mt-2">
                    <button type="submit" class="btn btn-primary"><i class="fa-regular fa-floppy-disk" style="color: #ffffff;"></i> Lưu</button>
                    <button asp-action="Index" class="btn btn-secondary"><i class="fa-solid fa-xmark" style="color: #ffffff;"></i> Hủy</button>
                </div>
            </div>
        </form>
    </div>
</div>

