@using DongThucVatQuangTri.Applications.NewsItem.Dtos.NewsCatDtos;
@model  CreateNewsCatRequest
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Thêm danh mục tin tức";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
@section Scripts{
    <script src="/admin/assets/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editor');
    </script>
    <script>
        function createAlias(value) {
            var TitleValue = document.querySelector("#Name").value;
            var AliasElement = document.querySelector("#Alias");
            const formattedValue = removeDiacriticsAndSpaces(value)
            AliasElement.value = formattedValue;
        }
        function removeDiacriticsAndSpaces(input) {
            return input
                .normalize('NFD')
                .replace(/[\u0300-\u036f]/g, '')
                .replace(/\s+/g, '-')
                .replace(/đ/g, 'd')
                .replace(/Đ/g, 'D')
                .toLowerCase();
        }
    </script>
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Thêm danh mục tin tức</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Thêm danh mục tin tức </li>
    </ol>
    <div style="margin: 20px 0;">
        <a class="btn btn-success" asp-action="Index" asp-controller="NewsCat"><i class="fa-solid fa-list" style="color: #ffffff;"></i> Danh sách danh mục</a>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Tiêu đề:</label>
                    <input asp-for="Name" onkeyup="createAlias(this.value)" class="form-control" id="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Alias" class="control-label">Alias:</label>
                    <input asp-for="Alias" class="form-control" id="Alias" />
                    <span asp-validation-for="Alias" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TitleSeo" class="control-label">Tiêu đề SEO</label>
                    <input asp-for="TitleSeo" class="form-control" />
                    <span asp-validation-for="TitleSeo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ContentSeo" class="control-label">Nội dung SEO</label>
                    <textarea placeholder="Tối đa 255 kí tự" style="height:52px;" maxlength="255" asp-for="ContentSeo" class="form-control"></textarea>
                    <span asp-validation-for="ContentSeo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="KeySeo" class="control-label">Từ khóa SEO</label>
                    <textarea placeholder="Tối đa 255 kí tự" style="height:52px;" maxlength="255" asp-for="KeySeo" class="form-control" /></textarea>
                    <span asp-validation-for="KeySeo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ParentId" class="control-label"> Danh mục cha:</label>
                    <select asp-for="ParentId" name="ParentId" asp-items="@ViewBag.Categories" class="form-control select2">
                        <option value="0">--Danh mục gốc--</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label">Hình ảnh:</label>
                    <input asp-for="Image" class="form-control" type="file" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SortOrder" class="control-label">Thứ tự: </label>
                    <input type="number" asp-for="SortOrder" class="form-control" />
                    <span asp-validation-for="SortOrder" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label">Trạng thái: </label>
                    <select asp-for="Status" class="form-control" id="dropdown" name="Status">
                        <option value="1">Bật</option>
                        <option value="0">Tắt</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Mô tả</label>
                    <textarea asp-for="Description" id="editor" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="form-group mt-2">
                        <button type="submit" class="btn btn-primary"><i class="fa-regular fa-floppy-disk" style="color: #ffffff;"></i> Thêm danh mục</button>
                        <button type="reset" class="btn btn-secondary" /><i class="fa-solid fa-eraser" style="color: #ffffff;"></i> Reset</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

