@using DongThucVatQuangTri.Applications.NewsItem.Dtos.NewsCatDtos;
@model UpdateNewsCatRequest
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Sửa danh mục tin tức";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
@section Scripts {
    <script src="/admin/assets/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editor');
    </script>
}
<div class="container-fluid px-4">
    <h4 class="mt-4">@ViewData["Title"]</h4>
    <ol class="breadcrumb mb-4 shadow">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="NewsCat">Quản lý danh mục tin</a></li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
    <div class="card shadow p-2">
        <div class="card-shadow">
            <div class="row d-flex justify-content-center">
                <form asp-action="Edit" class="row" enctype="multipart/form-data">
                    <div class="col-md-8">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input type="hidden" asp-for="Id" class="form-control" />
                        </div>
                        <div class="form-group row">
                            <label asp-for="Name" class="control-label col-lg-3"> Tiêu đề <span class="text-danger">*</span>:</label>
                            <div class="col-lg-8">
                                <input asp-for="Name" onkeyup="createAlias(this.value)" class="form-control" id="Name" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Alias" class="control-label col-lg-3"> Alias <span class="text-danger">*</span>:</label>
                            <div class="col-lg-8">
                                <input asp-for="Alias" class="form-control" id="Alias" />
                                <span asp-validation-for="Alias" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="TitleSeo" class="control-label col-lg-3"> Tiêu đề SEO :</label>
                            <div class="col-lg-8">
                                <input asp-for="TitleSeo" class="form-control" />
                                <span asp-validation-for="TitleSeo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="ContentSeo" class="control-label col-lg-3"> Nội dung SEO :</label>
                            <div class="col-lg-8">
                                <textarea placeholder="Tối đa 255 kí tự" style="height:52px;" maxlength="255" asp-for="ContentSeo" class="form-control"></textarea>
                                <span asp-validation-for="ContentSeo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="KeySeo" class="control-label col-lg-3"> Từ khóa SEO:</label>
                            <div class="col-lg-8">
                                <textarea placeholder="Tối đa 255 kí tự" style="height:52px;" maxlength="255" asp-for="KeySeo" class="form-control" /></textarea>
                                <span asp-validation-for="KeySeo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="ParentId" class="control-label col-lg-3"> Danh mục cha<span class="text-danger">*</span>:</label>
                            <div class="col-lg-8">
                                <select asp-for="ParentId" name="ParentId" asp-items="@ViewBag.Categories" class="form-control select2">
                                    <option value="0">--Danh mục gốc--</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Image" class="control-label col-lg-3"> Hình ảnh:</label>
                            <div class="col-lg-8">
                                <input asp-for="Image" class="form-control" type="file" />
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="SortOrder" class="control-label col-lg-3"> Thứ tự<span class="text-danger">*</span>:</label>
                            <div class="col-lg-8">
                                <input type="number" asp-for="SortOrder" class="form-control" />
                                <span asp-validation-for="SortOrder" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Status" class="control-label col-lg-3"> Trạng thái<span class="text-danger">*</span>:</label>
                            <div class="col-lg-8">
                                <select asp-for="Status" class="form-control" id="dropdown" name="Status">
                                    <option value="1">Bật</option>
                                    <option value="0">Tắt</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Description" class="control-label col-lg-3"> Mô tả:</label>
                            <div class="col-lg-8">
                                <textarea asp-for="Description" id="editor" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                       

                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="linkUrl" class="control-label">Hình ảnh:</label>
                            @if (!String.IsNullOrEmpty(Model.linkUrl))
                            {
                                <img style="height: 300px;width:300px" src="/news/@Model.linkUrl" alt="..." class="img-thumbnail">
                                <div class="form-check  ">
                                    <input asp-for="isDelete" class="form-check-input" type="checkbox" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Xóa ảnh
                                    </label>
                                </div>
                            }
                            else
                            {
                                <img style="height: 300px;width:300px" src="/admin/assets/img/no-image-available-icon-flat-vector-25898826.jpg" alt="..." class="img-thumbnail">
                            }
                        </div>
                    </div>
                    <div class="form-group m-2 text-center">
                        <button type="submit" class="btn btn-primary"><i class="fa-regular fa-floppy-disk" style="color: #ffffff;"></i> Lưu</button>
                        <button asp-action="Index" class="btn btn-secondary"><i class="fa-solid fa-xmark" style="color: #ffffff;"></i> Hủy</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

