@model DongThucVatQuangTri.Applications.Roles.Dtos.UpdateRoleRequest
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Chỉnh sửa thông tin";
    //Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<!-- Button trigger modal -->
<div data-bs-toggle="modal" data-bs-target="#exampleModal@{
    @Model.Id
}">
    <i class="fa-regular fa-pen-to-square" style="color: #194de6;"></i>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal@{@Model.Id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-action="Edit" class="row" data-ajax-method="POST" data-ajax="true" data-ajax-update="UpdateRoleForm@{
        @Model.Id
}" data-ajax-complete="OnComplete">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sửa nhóm quyền</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-wrap" id="UpdateRoleForm@{
                    @Model.Id
}">
                    <input type="hidden" asp-for="Id" />
                    <div class="col-lg-12 col-md-12 col-12">
                            <label for="message-text" class="col-form-label">Tên quyền:</label>
                            <input asp-for="RoleName" class="form-control rounded my-1" id="message-text"></input>
                            <span asp-validation-for="RoleName" class="text-danger fs-5 mt-1"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Sửa thông tin</button>
                </div>
            </div>
        </form>
    </div>
</div>
