@model DongThucVatQuangTri.Applications.UserManage.Dtos.UpdatePasswordRequest
@using System.Security.Claims;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Đổi mật khẩu:</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Đổi mật khẩu </li>
    </ol>
    <div style="margin: 20px 0;">
        @if (User.FindFirst(ClaimTypes.Role).Value.Equals("Administator"))
        {
            <a class="btn btn-success" asp-action="ChangePasswordList" asp-controller="User">Danh sách đổi mật khẩu</a>
        }
        else
        {
            <a class="btn btn-success" asp-action="Details" asp-controller="User" asp-route-Id="@Model.Id">Thông tin người dùng</a>
        }

    </div>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="ChangePassword">
                <input asp-for="Id" type="hidden" class="form-control" />
                <div class="form-group">
                    <label asp-for="CurrentPassword" class="control-label">Nhập mật khẩu hiện tại:</label>
                    <input asp-for="CurrentPassword" class="form-control" type="password" />
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label">Nhập mật khẩu mới:</label>
                    <input asp-for="NewPassword" class="form-control" type="password" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label">Nhập lại mật khẩu mới:</label>
                    <input asp-for="ConfirmPassword" class="form-control" type="password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin: 20px 0;">
                    <input type="submit" value="Đổi mật khẩu" class="btn btn-primary" />
                    @if (User.FindFirst(ClaimTypes.Role).Value.Equals("Administator"))
                    {
                        <button asp-action="ChangePasswordList" asp-controller="User" class="btn btn-secondary">Hủy</button>
                    }
                    else
                    {
                        <button asp-action="ChangePasswordList" asp-controller="Detais" asp-route-Id="@Model.Id" class="btn btn-secondary" >Hủy</button>
                    }
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <i>
                Mật khẩu là một chuỗi các ký tự quy định như sau:
                <br />
                - Không chứa dấu cách trống.
                <br />
                - Có độ dài ít nhất là 8 ký tự.
                <br />
                - Có ít nhất một ký tự chữ cái viết thường (a-z).
                <br />
                - Có ít nhất một ký tự chữ cái viết hoa (A-Z).
                <br />
                - Có ít nhất một ký tự đặc biệt (@@#$%^&+=).
                <br />
                - Có ít nhất một ký tự số (0-9).
            </i>

        </div>
    </div>
</div>

