@using System.Security.Claims;
@model DongThucVatQuangTri.Applications.UserManage.Dtos.UserUpdateRequest
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Sửa thông tin người dùng";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<div class="container-fluid px-4">
    <div class="col-lg-12">
        <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
            <h4 class="mt-4">@ViewData["Title"]</h4>
            <ol class="breadcrumb mb-4 bg-white shadow">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="User">Quản lí người dùng</a></li>
                <li class="breadcrumb-item active">@ViewData["Title"] </li>
            </ol>
        </nav>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-body row justify-content-center">
                    <form asp-action="Edit" class="col-lg-9 col-md-8 col-12">
                        <input asp-for="Id" type="hidden" class="form-control" />
                        <div class="form-group row">
                            <label asp-for="FirstName" class="control-label col-lg-3"> Họ tên <span class="text-danger">*</span>:</label>
                            <div class="col-lg-8">
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Phone" class="control-label col-lg-3">SĐT <span class="text-danger">*</span>:</label>
                            <div class="col-lg-8">
                                <input asp-for="Phone" class="form-control" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="form-group row">
                            <label asp-for="Dob" class="control-label col-lg-3"> Ngày sinh <span class="text-danger">*</span>: </label>
                            <div class="col-lg-8">
                                <input type="date" asp-for="Dob" class="form-control" />
                                <span asp-validation-for="Dob" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label asp-for="Address" class="control-label col-lg-3">Địa chỉ <span class="text-danger">*</span>:</label>
                            <div class="col-lg-8">
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label asp-for="Gender" class="control-label col-lg-3">Giới tính<span class="text-danger">*</span> :</label>
                            <div class="col-lg-8">
                                <div class="d-flex justify-content-between">
                                    <div class="form-check">
                                        <input class="form-check-input" asp-for="Gender" type="radio" id="flexRadioDefault1" value="1" checked>
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Nam
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" asp-for="Gender" type="radio" id="flexRadioDefault2" value="0">
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            Nữ
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" asp-for="Gender" id="flexRadioDefault3" value="-1">
                                        <label class="form-check-label" for="flexRadioDefault3">
                                            Khác
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Status" class="control-label col-lg-3">Trạng thái <span class="text-danger">*</span>:</label>
                            <div class="col-lg-8">
                                <select asp-for="Status" class="form-control" id="dropdown" name="Status">
                                    <option value="-1">None</option>
                                    <option value="1">Kích hoạt</option>
                                    <option value="0">Khóa</option>
                                </select>
                            </div>
                        </div>
                        @if (User.FindFirstValue(ClaimTypes.Role) == "Administator")
                        {
                            <div class="form-group row">
                                <label asp-for="Roles" class="control-label col-lg-3">Nhóm quyền <span class="text-danger">*</span>:</label>
                                <div class="col-lg-8">
                                    <select asp-for="Roles" name="Roles" asp-items="@ViewBag.Roles" class="form-control ">
                                    </select>
                                </div>
                            </div>

                        }
                        <div class="form-group row">
                            <label asp-for="GroupUserId" class="control-label col-lg-3">Nhóm người dùng <span class="text-danger">*</span>:</label>
                            <div class="col-lg-8">
                                <select asp-for="GroupUserId" name="GroupUserId" asp-items="@ViewBag.GroupUser" class="form-control ">
                                </select>
                            </div>

                        </div>
                        <div class="form-group m-2 text-center">
                            <button type="submit" class="btn btn-primary mb-1"><i class="fa-regular fa-floppy-disk" style="color: #ffffff;"></i> Sửa thông tin</button>
                            <button type="reset" class="btn btn-secondary mb-1" /><i class="fa-solid fa-eraser" style="color: #ffffff;"></i> Reset</button>
                        </div>
                    </form>
                    </<div>
                    </div>
                </div>
            </div>
        </div>
    </div>

