@using DongThucVatQuangTri.Applications.Maps.Dtos;
@model UpdateMapRequest
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Sửa thông tin bản đồ";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
@section Scripts{
    <script src="/admin/assets/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editor');
    </script>
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Sửa thông tin</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Sửa thông tin </li>
    </ol>
    <div style="margin: 20px 0;">
        <a class="btn btn-success" asp-action="Index" asp-controller="Tour"><i class="fa-solid fa-list" style="color: #ffffff;"></i> Danh sách tin tức</a>
    </div>
    <div class="row">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <input type="hidden" asp-for="Id" class="form-control" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Tên:</label>
                        <input asp-for="Name" onkeyup="createAlias(this.value)" class="form-control" id="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="linkMap" class="control-label">Bản đồ: @Model.Url</label>
                        <input type="file" asp-for="linkMap" class="form-control" />
                        <span asp-validation-for="linkMap" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="Url" />
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"> Nội dung:</label>
                        <textarea asp-for="Description" id="editor" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    
                </div>
                <div class="col-md-6">
                   @*  <div class="form-group">
                        <label asp-for="linkMap" class="control-label">File:</label>
                    </div> *@
                </div>
            </div>
            <div class="row">
                <div class="form-group mt-2">
                    <button type="submit" class="btn btn-primary"><i class="fa-regular fa-floppy-disk" style="color: #ffffff;"></i> Lưu</button>
                    <button asp-action="Index" class="btn btn-secondary"><i class="fa-solid fa-xmark" style="color: #ffffff;"></i> Hủy</button>
                </div>
            </div>
        </form>
    </div>
</div>

