@{
    ViewData["Title"] = "Địa chỉ";
}
<style>
    .address{
        display:flex;
        justify-content:center;
        margin: 30px auto 50px;
    }

    .info{
        text-align: center;
        margin: 0 20px;
    }
    .address-banner{
        text-align: center;
        padding: 100px 0;
        background: url(/images/address_banner.png)center /cover no-repeat;
    }
</style>
<div class="address-banner">
    <h2 style="font-size: 2rem;">Thông tin địa chỉ</h2>
</div>
<div class="address">
    <div class="info">
        <div class="logo"><img src="/images/logo.png" width="75" height="75" alt="" />
            <br />
            <span style="font-size:20px">KHU BẢO TỒN THIÊN NHIÊN BẮC HƯỚNG HOÁ</span>
        </div>
        <ul>
            <li><strong>Địa chỉ:</strong> xã Hướng Phùng, huyện Hướng Hóa, tỉnh Quảng Trị</li>
            <li><strong>Hotline:</strong> (0233) 379 7225</li>
            <li><strong>Email:</strong>  info@vnuforest.com.vn</li>
        </ul>
    </div><!--end info-->
    <iframe src="https://www.google.com/maps/d/embed?mid=1qCgZdz4hepER3l3xbNl9N2rIvOELBLk&hl=vi&ehbc=2E312F" width="640" height="480"></iframe>

</div>

