@model DongThucVatQuangTri.Applications.GroupUsers.Dtos.CreateGroupUserRequest
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Tạo nhóm người dùng";
}
<!-- Button trigger modal -->
<button type="button" class="btn btn-success mt-1" data-bs-toggle="modal" data-bs-target="#createModal">
    <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
    Thêm nhóm người dùng
</button>
<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-action="Create" class="row" data-ajax-method="POST" data-ajax="true" data-ajax-update="CreateGroupUserForm" data-ajax-complete="OnComplete">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm nhóm người dùng</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-wrap" id="CreateGroupUserForm">
                   
                    <div class="col-lg-12 col-md-12 col-12">
                        <label for="message-text" class="col-form-label">Tên nhóm người dùng:</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary"> Thêm mới</button>
                </div>
            </div>
        </form>
    </div>
</div>
