
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="height:400px; display:flex; justify-content:center; align-items:center;flex-direction:column">
    <h1>Error</h1>
    <p>Sorry, an error occurred while processing your request.</p>
</div>



