
@{
    ViewData["Title"] = "ServerError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="height:400px; display:flex; justify-content:center; align-items:center;flex-direction:column">
    <h1>500</h1>
    <h2>Server Error</h2>
    <h5>Sorry, an error occurred while processing your request. Please try again later.</h5>
</div>



