@using System.Security.Claims;
@using DongThucVatQuangTri.Applications.AnimalsAndPlant.ClassManage.Dtos;
@model CreateClassRequest
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Thêm lớp";
}
@section Scripts {
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut("slow");
        }, 2000);

    </script>

}

@{
    var idLoai = -1;
    if (string.Equals(ViewBag.Loai, "Động Vật", StringComparison.CurrentCultureIgnoreCase))
    {
        idLoai = 1;
    }
    if (string.Equals(ViewBag.Loai, "Thực Vật", StringComparison.CurrentCultureIgnoreCase))
    {
        idLoai = 0;
    }
    var a = ViewBag.Categories;
}
<button type="button" class="btn btn-success mt-1" data-bs-toggle="modal" data-bs-target="#createModal">
    <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
    Thêm lớp
</button>
<!-- Modal -->
<div class="modal fade modalSelect2" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-action="Create" class="row" data-ajax-method="POST" data-ajax="true" data-ajax-update="CreateBranchForm" data-ajax-complete="OnComplete">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm lớp</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-wrap" id="CreateBranchForm">
                    <div class="form-group w-100">
                        <div  class="control-label"> Ngành:</div>
                        <select  name="IdDtvNganh" asp-items="@ViewBag.Categories" style="width:100%" class="form-control select2Popup">
                        </select>
                    </div>
                    <div class="form-group w-100">
                        <label asp-for="Name" class="control-label">Tên tiếng Việt:</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group w-100">
                        <label asp-for="NameLatinh" class="control-label">Tên Latinh:</label>
                        <input asp-for="NameLatinh" class="form-control" />
                        <span asp-validation-for="NameLatinh" class="text-danger"></span>
                    </div>

                    <div class="form-group w-100">
                        <label asp-for="Status" class="control-label">Trạng thái: </label>
                        <select asp-for="Status" class="form-control" id="dropdown" name="Status">
                            <option value="1">Bật</option>
                            <option value="0">Tắt</option>
                        </select>
                    </div>
                    <div class="form-group mt-2">
                        <input type="hidden" asp-for="Loai" value="@idLoai" />
                        <input type="hidden" asp-for="CreatedBy" value="@User.FindFirst(ClaimTypes.NameIdentifier).Value" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary"> Thêm mới</button>
                </div>
            </div>
        </form>
    </div>
</div>
