@using DongThucVatQuangTri.Applications.Tours.TourCat;
@using System.Security.Claims;
@model CreateTourCatRequest
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Thêm danh mục du lịch";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
@section Scripts{
    <script src="/admin/assets/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editor');
    </script>
    <script>
        function createAlias(value) {
            var TitleValue = document.querySelector("#Name").value;
            var AliasElement = document.querySelector("#Alias");
            const formattedValue = removeDiacriticsAndSpaces(value)
            AliasElement.value = formattedValue;
        }
        function removeDiacriticsAndSpaces(input) {
            return input
                .normalize('NFD')
                .replace(/[\u0300-\u036f]/g, '')
                .replace(/\s+/g, '-')
                .replace(/đ/g, 'd')
                .replace(/Đ/g, 'D')
                .toLowerCase();
        }
    </script>
}
<div class="container-fluid px-4">
    <h4 class="mt-4"> @ViewData["Title"]</h4>
    <ol class="breadcrumb mb-4 shadow">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="TourCat">Quản lí danh mục tin du lịch</a></li>
        <li class="breadcrumb-item active">@ViewData["Title"] </li>
    </ol>
    <div class="card shadow">
        <div class="card-body">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    <form asp-action="Create" enctype="multipart/form-data">
                        <div class="form-group row">
                            <label asp-for="Name" class="control-label col-lg-3"> Tiêu đề <span class="text-danger">*</span>:</label>
                            <div class="col-lg-8">
                                <input asp-for="Name" onkeyup="createAlias(this.value)" class="form-control" id="Name" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Alias" class="control-label col-lg-3"> Alias <span class="text-danger">*</span>:</label>
                            <div class="col-lg-8">
                                <input asp-for="Alias" class="form-control" id="Alias" />
                                <span asp-validation-for="Alias" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Image" class="control-label col-lg-3"> Hình ảnh <span class="text-danger">*</span>:</label>
                            <div class="col-lg-8">
                                <input type="file" asp-for="Image" class="form-control" />
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="SortOrder" class="control-label col-lg-3"> Thứ tự <span class="text-danger">*</span>:</label>
                            <div class="col-lg-8">
                                <input type="number" asp-for="SortOrder" class="form-control" />
                                <span asp-validation-for="SortOrder" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Status" class="control-label col-lg-3"> Trạng thái <span class="text-danger">*</span>:</label>
                            <div class="col-lg-8">
                                <select asp-for="Status" class="form-control" id="dropdown" name="Status">
                                    <option value="1">Bật</option>
                                    <option value="0">Tắt</option>
                                </select>
                            </div>
                        </div>
                        @*    <div class="form-group">
                        <label asp-for="typeNationPark" class="control-label">Rừng phòng hộ: </label>
                        <select onchange="zoomMap()" asp-for="typeNationPark" class="form-control typeNationPark" id="dropdown" name="TypeNationPark">
                        @{
                        var typeNationPark = User.FindFirstValue(ClaimTypes.Role);
                        }
                        @if (typeNationPark == "NationParkNamGiang")
                        {
                        <option value="NationParkNamGiang">RPH Nam Giang</option>
                        }
                        else if (typeNationPark == "NationParkMuongTe")
                        {
                        <option value="NationParkMuongTe">RPH Mường Tè</option>
                        }
                        else
                        {
                        <option value="NationParkNamGiang">RPH Nam Giang</option>
                        <option value="NationParkMuongTe">RPH Mường Tè</option>
                        }

                        </select>
                        </div> *@
                        <div class="form-group row">
                            <label asp-for="Description" class="control-label col-lg-3"> Nội dung <span class="text-danger">*</span>:</label>
                            <div class="col-lg-8">
                                <textarea asp-for="Description" id="editor" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group mt-2 text-center">
                                <button type="submit" class="btn btn-primary"><i class="fa-regular fa-floppy-disk" style="color: #ffffff;"></i> Thêm danh mục</button>
                                <button type="reset" class="btn btn-secondary" /><i class="fa-solid fa-eraser" style="color: #ffffff;"></i> Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>

