@using DongThucVatQuangTri.Applications.UserManage.Dtos;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ResetPasswordRequest
@{
    ViewData["Title"] = "Đặt lại mật khẩu";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] - CSDL Động Thực Vật</title>
    <link href="/admin/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content" style="    background: #63b873;">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">@ViewData["Title"]</h3></div>
                                <div class="card-body">
                                    <div class="row justify-content-center ">
                                        <form method="post">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <input asp-for="code" type="hidden" />
                                            <input asp-for="UserId" type="hidden" />
                                            <div class="form-group">
                                                <label asp-for="Email"></label>
                                                <input asp-for="Email" class="form-control" disabled />
                                                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="NewPassword">Nhập mật khẩu mới</label>
                                                <input asp-for="NewPassword" class="form-control" />
                                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="ConfirmPassword">Nhập lại mật khẩu mới</label>
                                                <input asp-for="ConfirmPassword" class="form-control" />
                                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                            </div>
                                            <div class="text-center mt-3">
                                                <button type="submit" class="btn btn-primary">Cập nhật</button>

                                            </div>
                                        </form>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="/admin/js/scripts.js"></script>
</body>
</html>


