@model DongThucVatQuangTri.Applications.NewsItem.Dtos.NewsDtos.UpdateNewsRequest
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
@section Scripts{
    <script src="/admin/assets/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editor');
    </script>
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Sửa tin</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Sửa tin </li>
    </ol>
    <div style="margin: 20px 0;">
        <a class="btn btn-success" asp-action="Index" asp-controller="News">Danh sách tin tức</a>
    </div>
    <div class="row">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <input type="hidden" asp-for="Id" class="form-control" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Tiêu đề:</label>
                        <input asp-for="Name" onkeyup="createAlias(this.value)" class="form-control" id="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Alias" class="control-label">Alias:</label>
                        <input asp-for="Alias" class="form-control" id="Alias" />
                        <span asp-validation-for="Alias" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewsCatId" class="control-label">Danh mục:</label>
                        <select asp-for="NewsCatId" name="NewsCatId" asp-items="@ViewBag.Categories" class="form-control select2">
                        </select>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Image" class="control-label">Hình ảnh:</label>
                        <input type="file" asp-for="Image" class="form-control" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ShortDescription" class="control-label">Giới thiệu</label>
                        <input asp-for="ShortDescription" class="form-control" />
                        <span asp-validation-for="ShortDescription" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="IsHot" class="control-label">Tin nổi bật:</label>
                        <select asp-for="IsHot" class="form-control" id="dropdown" name="IsHot">
                            <option value="1">Bật</option>
                            <option value="0">Tắt</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label">Trạng thái: </label>
                        <select asp-for="Status" class="form-control" id="dropdown" name="Status">
                            <option value="1">Bật</option>
                            <option value="0">Tắt</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="Description" class="control-label"> Nội dung:</label>
                        <textarea asp-for="Description" id="editor" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="linkUrl" class="control-label">Hình ảnh:</label>
                        @if (!String.IsNullOrEmpty(Model.linkUrl))
                        {
                            <img style="height: 250px;width:250px; display:block;" src="/user-content/@Model.linkUrl" alt="..." class="img-thumbnail">
                            <div class="form-check  ">
                                <input asp-for="IsDelete" class="form-check-input" type="checkbox" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Xóa ảnh
                                </label>
                            </div>
                        }
                        else
                        {
                            <img style="height: 250px;width:250px;display:block;" src="/admin/assets/img/no-image-available-icon-flat-vector-25898826.jpg" alt="..." class="img-thumbnail">
                        }
                    </div>
                    <div class="form-group">
                        <label asp-for="TitleSeo" class="control-label">Tiêu đề SEO:</label>
                        <input asp-for="TitleSeo" class="form-control" />
                        <span asp-validation-for="TitleSeo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContentSeo" class="control-label">Nội dung SEO:</label>
                        <textarea placeholder="Tối đa 255 kí tự" style="height:100px;" maxlength="255" asp-for="ContentSeo" class="form-control"></textarea>
                        <span asp-validation-for="ContentSeo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="KeySeo" class="control-label">Từ khóa SEO:</label>
                        <textarea placeholder="Tối đa 255 kí tự" style="height:100px;" maxlength="255" asp-for="KeySeo" class="form-control" /></textarea>
                        <span asp-validation-for="KeySeo" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group mt-2">
                    <input type="submit" value="Lưu" class="btn btn-primary" />
                    <button asp-action="Index" asp-controller="News" class="btn btn-secondary" />Hủy</button>
                </div>
            </div>
        </form>
    </div>
</div>

