@using DongThucVatQuangTri.Applications.EcotourismSafeties.Dtos;
@using System.Security.Claims;
@model UpdateEcotourismSafetyRequest
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Sửa thông tin an toàn du lịch";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
@section Scripts{
    <script src="/admin/assets/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editor');
    </script>
    <script type="text/javascript">

        CKEDITOR.config.filebrowserUploadUrl = "/admin/EcotourismSafety/UploadImage";
        CKEDITOR.config.filebrowserBrowseUrl = "/admin/EcotourismSafety/FileBrowswe";
    </script>
    <script>
        function createAlias(value) {
            var TitleValue = document.querySelector("#Name").value;
            var AliasElement = document.querySelector("#Alias");
            const formattedValue = removeDiacriticsAndSpaces(value)
            AliasElement.value = formattedValue;
        }
        function removeDiacriticsAndSpaces(input) {
            return input
                .normalize('NFD')
                .replace(/[\u0300-\u036f]/g, '')
                .replace(/\s+/g, '-')
                .replace(/đ/g, 'd')
                .replace(/Đ/g, 'D')
                .toLowerCase();
        }
    </script>
}
<div class="container-fluid px-4">
    <h4 class="mt-4">@ViewData["Title"] </h4>
    <ol class="breadcrumb mb-4 shadow">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="EcotourismSafety">Quản lý tin an toàn du lịch</a></li>
        <li class="breadcrumb-item active">@ViewData["Title"]  </li>
    </ol>
   <div class="card shadow">
       <div class="card-body">
            <div class="row">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-9">
                            <input type="hidden" asp-for="Id" class="form-control" />
                            <div class="form-group row">
                                <label asp-for="Name" class="control-label col-lg-3"> Tiêu đề <span class="text-danger">*</span>:</label>
                                <div class="col-lg-8">
                                    <input asp-for="Name" onkeyup="createAlias(this.value)" class="form-control" id="Name" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Alias" class="control-label col-lg-3"> Alias <span class="text-danger">*</span>:</label>
                                <div class="col-lg-8">
                                    <input asp-for="Alias" class="form-control" id="Alias" />
                                    <span asp-validation-for="Alias" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Image" class="control-label col-lg-3"> Hình ảnh <span class="text-danger">*</span>:</label>
                                <div class="col-lg-8">
                                    <input type="file" asp-for="Image" class="form-control" />
                                    <span asp-validation-for="Image" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="ShortDescription" class="control-label col-lg-3"> Giới thiệu <span class="text-danger">*</span>:</label>
                                <div class="col-lg-8">
                                    <input asp-for="ShortDescription" class="form-control" />
                                    <span asp-validation-for="ShortDescription" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Status" class="control-label col-lg-3"> Trạng thái <span class="text-danger">*</span>:</label>
                                <div class="col-lg-8">
                                    <select asp-for="Status" class="form-control" id="dropdown" name="Status">
                                        <option value="1">Bật</option>
                                        <option value="0">Tắt</option>
                                    </select>
                                </div>
                            </div>
                            <input type="hidden" asp-for="linkUrl" />
                            
                            <div class="form-group row">
                                <label asp-for="typeNationPark" class="control-label col-lg-3"> Rừng phòng hộ <span class="text-danger">*</span>:</label>
                                <div class="col-lg-8">
                                    <select asp-for="typeNationPark" class="form-control typeNationPark" id="dropdown" name="TypeNationPark">
                                        @{
                                            var typeNationPark = User.FindFirstValue(ClaimTypes.Role);
                                        }
                                        @if (typeNationPark == "NationParkNamGiang")
                                        {
                                            <option value="NationParkNamGiang">RPH Nam Giang</option>
                                        }
                                        else if (typeNationPark == "NationParkMuongTe")
                                        {
                                            <option value="NationParkMuongTe">RPH Mường Tè</option>
                                        }
                                        else
                                        {
                                            <option value="NationParkNamGiang">RPH Nam Giang</option>
                                            <option value="NationParkMuongTe">RPH Mường Tè</option>
                                        }

                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Description" class="control-label col-lg-3"> Nội dung <span class="text-danger">*</span>:</label>
                                <div class="col-lg-8">
                                    <textarea asp-for="Description" id="editor" class="form-control"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="linkUrl" class="control-label">Hình ảnh:</label>
                                @if (!String.IsNullOrEmpty(Model.linkUrl))
                                {
                                    <img style="height: 250px;width:250px; display:block;" src="/EcotourismSafety/@Model.linkUrl" alt="..." class="img-thumbnail">
                                    <div class="form-check  ">
                                        <input asp-for="IsDelete" class="form-check-input" type="checkbox" id="defaultCheck1">
                                        <label class="form-check-label" for="defaultCheck1">
                                            Xóa ảnh
                                        </label>
                                    </div>
                                }
                                else
                                {
                                    <img style="height: 250px;width:250px;display:block;" src="/admin/assets/img/no-image-available-icon-flat-vector-25898826.jpg" alt="..." class="img-thumbnail">
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mt-2 text-center">
                            <button type="submit" class="btn btn-primary"><i class="fa-regular fa-floppy-disk" style="color: #ffffff;"></i> Lưu</button>
                            <button asp-action="Index" class="btn btn-secondary"><i class="fa-solid fa-xmark" style="color: #ffffff;"></i> Hủy</button>
                        </div>
                    </div>
                </form>
            </div>
       </div>
   </div>
  
</div>

